<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NetGaurd</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.1.2/socket.io.js"></script>
</head>
<body>
    <h1>Welcome to NetGaurd</h1>
    <button onclick="startSniffing()">Start Sniffing</button>
    <p id="sniffingStatus"></p> <!-- Display sniffing status -->
    <script>
        var socket = io.connect('http://' + document.domain + ':' + location.port);

        // Function to update sniffing status
        function updateStatus(status) {
            document.getElementById('sniffingStatus').innerHTML = status;
        }

        function startSniffing() {
            // Displaying message to the user
            updateStatus("Sniffing started... Please wait!");

            // Emitting start_sniffing event to server
            socket.emit('start_sniffing');
        }

        // Handling the sniffing success event from server
        socket.on('sniffing_success', function() {
            // Updating status and providing explanation to the user
            updateStatus("Sniffing successful! Analyzing network traffic...");
        });
    </script>
</body>
</html>
